* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3f3f3f;
}

#main-canvas {
  position: absolute;
  z-index: 0;
  /* TODO: set this based on size and resolution */
  /* image-rendering: pixelated; */
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}

#stats {
  position: absolute;
  z-index: 20;
  top: 5px;
  left: 5px;
  display: none;
}

#key-info {
  bottom: 35px;
  left: 5px;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  display: none;
}

#info {
  bottom: 5px;
  left: 5px;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
}

#info button,
#info input {
  color: #000;
}

#info a {
  color: #fff;
}
